<h1>GET Request Received</h1>
<table>
    <tbody>
        {{#each qData}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.value}}</td>
            </tr>
            
        {{/each}}
    </tbody>
</table>